.wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.body-main {
    justify-self: center;
}

.card-main {
    margin-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1/4;
    display: flex;
}

.progress {
    margin-bottom: 20px;
}

.charts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table {
    border: 2px solid black;
}

.icon {
    background-color: white;
    width: 29px;
}

.offcanvas-body {
    text-align: center;
    font-size: larger;
    font-weight: 500;
}

.offcanvas-body a {
    color: black;
    text-decoration: none;
}

.offcanvas-title {
    text-align: center;
}